@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.js-loading *,
.js-loading *:before,
.js-loading *:after {
  -webkit-animation-play-state: paused !important;
          animation-play-state: paused !important;
}

body {
  background-color: hsl(212deg, 45%, 89%);
  font-family: "Outfit", sans-serif;
}

img {
  image-rendering: optimizeSpeed;
}

.container {
  padding: 1em 1em;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.qr-card {
  background-color: hsl(0deg, 0%, 100%);
  max-width: 20em;
  width: 100%;
  min-height: 31.0625em;
  border-radius: 1.25em;
  padding: 1em;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.qr-card__img-button:hover .qr-card__img, .qr-card__img-button:focus .qr-card__img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
.qr-card__img-container {
  width: 18em;
  height: 18em;
  cursor: pointer;
  overflow: hidden;
  border-radius: 0.625em;
  -webkit-animation: slideInImage 1s ease;
          animation: slideInImage 1s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.qr-card__img {
  max-width: 80vw;
  width: 100%;
  height: auto;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}
.qr-card__body {
  margin-top: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
}
.qr-card__heading {
  color: hsl(218deg, 44%, 22%);
  font-size: 1.375rem;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: center;
  opacity: 0;
  -webkit-animation: slideInFromLeft 1s ease;
          animation: slideInFromLeft 1s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.qr-card__paragraph {
  color: hsl(220deg, 15%, 55%);
  margin-top: 1rem;
  font-size: 0.9375rem;
  font-weight: 400;
  letter-spacing: 0.19px;
  text-align: center;
  opacity: 0;
  -webkit-animation: slideInFromLeft 1s ease;
          animation: slideInFromLeft 1s ease;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.popup {
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
}
.popup__backdrop {
  position: fixed;
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.9));
  -webkit-backdrop-filter: blur(1em);
          backdrop-filter: blur(1em);
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
}
.popup__img-container {
  border-radius: 1.25em;
  z-index: 2;
  max-width: 90vw;
  border: 1em solid hsl(0deg, 0%, 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0);
          transform: translateX(-50%) translateY(-50%) scale(0);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  background-color: hsl(0deg, 0%, 100%);
}
.popup__img {
  border-radius: 0.875em;
  max-width: calc(90vw - 2em);
  width: 36em;
  height: auto;
}
.popup:target {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.popup:target > .popup__img-container {
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
          transform: translateX(-50%) translateY(-50%) scale(1);
}
.popup__close-button {
  position: absolute;
  right: 2em;
  top: 2em;
  width: 2em;
  height: 2em;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}
.popup__close-button:hover, .popup__close-button:focus {
  opacity: 1;
}
.popup__close-button::before, .popup__close-button::after {
  position: absolute;
  left: 0.9375em;
  content: " ";
  height: 2.0625em;
  width: 0.125em;
  background-color: hsl(0deg, 0%, 100%);
}
.popup__close-button::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.popup__close-button::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media screen and (min-width: 100em) {
  html {
    font-size: clamp(1em, 1em + 1.1vw, 1.1em);
  }
}
@media screen and (min-width: 200em) {
  html {
    font-size: clamp(1em, 1em + 1vw, 2em);
  }
}
@-webkit-keyframes slideInImage {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes slideInImage {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes slideInFromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}